/* Global css */

*{
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

h3 {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
} 

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
}
